snippet c "console.log"
console.log(${0})

# React
snippet ir "import react"
import React from 'react'

snippet ird 'import react dom'
import ReactDOM from 'react-dom'

snippet us "useState"
const [state, setState] = React.useState({})

snippet ue "useEffect"
React.useEffect(() => {
  ${1}
}, [])

snippet react "react"
import * as React from 'react'

export const ${1} = () => {
  return (
    <div>
    </div>
  )
}
